:root {
    --cor-principal: #8608cfc7;
    --cor-img-border: #9547eeec;
}
* {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #8608cfc7, #301e3a);
}
.icon {
    height:1rem;
    width: 1rem;
}
.imagem {
    width: 24rem;
    /* height: 100px; */
    border-radius: 28rem; /*deixa abaulado*/
    border-width: 0.4rem 0px 0px 0.4rem;
    border-style: solid;
    border-color: var(--cor-img-border);
    box-shadow: 3px 5px 0px rgb(79, 30, 107);
    /* padding: 0px;  usado para ver melhor a linha envolta da imagem*/
    box-shadow: inset;
    margin-top: 3rem;
}

.div_pai {
    text-align: center;
    object-position: center;
    width: auto;
    height: 50rem;
    border: 3px red solid;
    display: block;
    padding-top: 10rem;
}

.div_de_dentro {
    background-color: aliceblue;
    height: 4rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 28rem;
    border: 3px;
    display: inline-block;
}


.P {
    display: inline-flex;
    height: 20px;
    width: 20px;
    padding-top: 15px;
}

.linha {
    color: #09f3cc;
    width: 2px;
    height: 40px;
    background-color: #09f3cc;
}

.dentro_2 {
    display: inline-block;
    height: 25rem;
    width: 30rem;
}

.formatação_h1 {
    background-color: aliceblue;
    height: 4rem;
    width: 20rem;
    margin: 1rem;
    /* border-radius: 40rem 1px 40rem 1px ; */
    border-left: 300px;
    display: inline-block;
}
/* li1 = li 
    div_pai = div de tudo
    div_de_dentro = div da parte de dentro */